@model CBHS.Mvc.Models.MemberMvcModel
@{
    if (Model.MembersList.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <tr>
                <td colspan="5"><b>Members</b></td>
            </tr>
            <tr>
                <td>Member Id</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>Date Of Birth</td>
            </tr>
        @foreach (var listMember in Model.MembersList)
        {
            <tr>
                <td>@listMember.MemberId</td>
                <td>@listMember.FirstName</td>
                <td>@listMember.LastName</td>
                <td>@listMember.Email</td>
                <td>@listMember.DateOfBirth</td>
            </tr>
        }
        </table>
    }
}