@model CBHS.Mvc.Models.MemberMvcModel
@{
    if (Model.MembersList.Count() > 0)
    {
        <table class="table table-bordered">            
            <tr class="tableHeader">
                <th>Member Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Date Of Birth</th>
            </tr>
        @foreach (var listMember in Model.MembersList)
        {
            <tr>
                <td>@listMember.MemberId</td>
                <td>@listMember.FirstName</td>
                <td>@listMember.LastName</td>
                <td>@listMember.Email</td>
                <td>@listMember.DateOfBirth</td>
            </tr>
        }
        </table>
    }
}