@model CBHS.Mvc.Models.MemberMvcModel
@{
    ViewBag.Title = "Index";
}
<html>
<head>
</head>
<body>
    @using (Html.BeginForm("Add", "Members", FormMethod.Post))
    {
    <table class="table">
        <tr>
            <td>First Name</td>
            <td>@Html.EditorFor(m=>m.FirstName)</td>
            <td>Email</td>
            <td>@Html.EditorFor(m => m.Email)</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>@Html.EditorFor(m => m.LastName)</td>
            <td>Date of birth</td>
            <td>@Html.EditorFor(m => m.DateOfBirth)</td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td align="right"><input type="submit" name="Add" id="Add" value="Add" class="btn-default"/></td>
        </tr>
    </table>
    }
    @Html.Action("_ListMembers")    
</body>
</html>