@model CBHS.Mvc.Models.MemberMvcModel

@{
    ViewBag.Title = "Index";
}
<html>
<head>
</head>
<body>
    <br />
    @using (Html.BeginForm("Add", "Members", FormMethod.Post))
    {
    <table class="table table-bordered table-responsive">
        <tr class="tableHeader">
            <td colspan="5"><b>Input Member</b></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>
                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "John", @maxlength = 30 } })
                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
            </td>
            <th>Email</th>
            <td>
                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "John.Doe@email.com", @maxlength = 50 } })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>
                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Doe", @maxlength = 30 } })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
            </td>
            <th>Date of birth</th>
            <td>
                @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @placeholder = "10/10/1980", @maxlength = 10 } })
                @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td align="right"><input type="submit" name="Add" id="Add" value="Add" class="btn btn-primary"/></td>
        </tr>
    </table>
    }
   @Html.Partial("_ListMembers", Model)    
   @Html.Partial("_OldestMember", Model)
</body>
</html>